<footer class="footer">
  <div class="container grid">
    <div>
      <!-- <h4>About Us</h4> -->
      <div class="qr-code">
        <img src="assets/QR/QR_code.jpg" alt="QR Code" loading="lazy" />
      </div>

      <p class="lead">
        Shree Shyam Ji Sewa Samiti Baba Khatu Shyam Ji ki seva, bhakti aur
        samaj kalyan ko samarpit ek aastha parivaar.
      </p>

      <p>
        <a href="tel:+919289992530" class="footer-contact">
          📞 +91 9289992530
        </a>
      </p>

      <p>
        <a href="mailto:info@shyamjisewasamiti.org" class="footer-contact">
          📧 info@shyamjisewasamiti.org
        </a>
      </p>

      <!-- <p>📍 Khatu Shyam Mandir Marg, Sikar, Rajasthan</p> -->
    </div>

    <div>
      <h4>Information</h4>
      <ul>
        <li routerLink="/aarti">Shyam Aarti</li>
        <li routerLink="/puja">Sevayein</li>
        <li routerLink="/our-gallery">Mandir Darshan</li>
        <li routerLink="/gallery">Phagun Mela</li>
        <li routerLink="/about">Sevadar</li>
        <li routerLink="/donation-page">Donate Now</li>
        <li routerLink="/privacy-policy">Privacy Policy</li>

      </ul>
    </div>

    <div>
      <h4>Others</h4>
      <ul>
        <li routerLink="/our-gallery">Gallery</li>
        <li [routerLink]="['/donation-page']" [queryParams]="{ open: true }">Online Daan</li>
        <li routerLink="/contact">Contact Us</li>
        <li routerLink="/about">About Us</li>
        <li routerLink="/aarti">Live-Aarti</li>
        <li routerLink="/terms-and-conditions">Terms and Conditions</li>
      </ul>
    </div>

    <div>
      <h4>Recent Posts</h4>

      @for (item of images; track $index) {

      <div class="post">

        <img [src]="item.src" [alt]="item.alt" loading="lazy" />

        <div>
          <p class="d">
            📅 {{ item.date }}
          </p>

          <p class="t">
            {{ item.title }}
          </p>
        </div>

      </div>

      }
    </div>
  </div>

  <div class="copy container">
    <span>COPYRIGHT © SHYAM JI SEWA SAMITI 2026</span>
    <div class="logo">🪔 shyamjisewasamiti.org 🪔</div>
    <!-- <div class="social">f &nbsp; in &nbsp; t &nbsp; ig</div> -->
    <div class="social-icons">
      <a href="https://www.facebook.com/share/19G5dtH8Sb/" target="_blank" aria-label="Facebook"
        class="social-icon facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

      <a href="https://x.com/shyamjisewasami" target="_blank" rel="noopener" aria-label="X" class="social-icon twitter">
        <i class="fa-brands fa-x-twitter"></i>
      </a>

      <a href="https://www.instagram.com/shyamjisewasamitingo?igsh=ZXFnNW1sZjdlc241" target="_blank"
        aria-label="Instagram" class="social-icon instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://www.youtube.com/@shyamjisewasamiti049" target="_blank" rel="noopener" aria-label="YouTube"
        class="social-icon youtube">
        <i class="fa-brands fa-youtube"></i>
      </a>

      <a href="https://www.linkedin.com/company/132123965/admin/dashboard/" target="_blank" rel="noopener"
        aria-label="LinkedIn" class="social-icon linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>



  </div>
</footer>