<footer class="footer">
  <div class="container grid">
    <div>
      <h4>About Us</h4>
      <p class="lead">
        Shyam Ji Sewa Samiti — Baba Khatu Shyam ji ki sewa, bhakti aur
        samaj kalyan ko samarpit ek aastha parivaar.
      </p>
      <p>📞 +91 98765-43210</p>
      <p>📧 info&#64;shyamjisewasamiti.org</p>
      <!-- <p>📍 Khatu Shyam Mandir Marg, Sikar, </p> -->
    </div>

    <div>
      <h4>Information</h4>
      <ul>
        <li routerLink="/aarti">Shyam Aarti</li>
        <li routerLink="/puja">Sevayein</li>
        <li routerLink="/our-gallery">Mandir Darshan</li>
        <li routerLink="/gallery">Phagun Mela</li>
        <li routerLink="/about">Sevadar</li>
        <li routerLink="/donation">Daan</li>
        <li routerLink="/privacy-policy">Privacy Policy</li>
        
      </ul>
    </div>

    <div>
      <h4>Others</h4>
      <ul>
        <li routerLink="/our-gallery">Gallery</li>
        <li routerLink="/donation">Online Daan</li>
        <li routerLink="/contact">Contact Us</li>
        <li routerLink="/about">About Us</li>
        <li routerLink="/aarti">Live-Aarti</li>
        <li routerLink="/terms-and-conditions">Terms and Conditions</li>
      </ul>
    </div>

   <div>
  <h4>Recent Posts</h4>

  @for (item of images; track $index) {

    <div class="post">

      <img
        [src]="item.src"
        [alt]="item.alt"
        loading="lazy"
      />

      <div>
        <p class="d">
          📅 {{ item.date }}
        </p>

        <p class="t">
          {{ item.title }}
        </p>
      </div>

    </div>

  }
</div>
  </div>

  <div class="copy container">
    <span>COPYRIGHT © Shyam Ji SEWA SAMITI 2026</span>
    <div class="logo">🪔 shyamjisewasamiti.org 🪔</div>
    <!-- <div class="social">f &nbsp; in &nbsp; t &nbsp; ig</div> -->
<div class="social-icons">
          <a href="#" aria-label="Facebook" class="social-icon facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" aria-label="X (Twitter)" class="social-icon twitter">
            <i class="fab fa-x-twitter"></i>
          </a>
          <a href="#" aria-label="Instagram" class="social-icon instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" aria-label="YouTube" class="social-icon youtube">
            <i class="fab fa-youtube"></i>
          </a>
        </div>



  </div>
</footer>