<header class="site-header">
  <div class="topbar">
    <div class="container topbar-inner">
      <div class="left">
        <a href="tel:+919289992530" class="contact-link">
          <i class="fas fa-phone"></i> +91 9289992530
        </a>

        <a href="mailto:info@shyamjisewasamiti.org" class="contact-link">
          <i class="fas fa-envelope"></i> info@shyamjisewasamiti.org
        </a>
      </div>
      <div class="right">
        <a routerLink="/" fragment="live-aarti" class="live" (click)="close()">
          <span class="live-dot"></span> LIVE AARTI
        </a>
        <div class="social-icons">
          <a href="https://www.facebook.com/share/19G5dtH8Sb/" target="_blank" aria-label="Facebook"
            class="social-icon facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="https://x.com/shyamjisewasami" target="_blank" rel="noopener" aria-label="X"
            class="social-icon twitter">
            <i class="fa-brands fa-x-twitter"></i>
          </a>

          <a href="https://www.instagram.com/shyamjisewasamitingo?igsh=ZXFnNW1sZjdlc241" target="_blank"
            aria-label="Instagram" class="social-icon instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a href="https://www.youtube.com/@shyamjisewasamiti049" target="_blank" rel="noopener" aria-label="YouTube"
            class="social-icon youtube">
            <i class="fa-brands fa-youtube"></i>
          </a>

          <a href="https://www.linkedin.com/company/132123965/admin/dashboard/" target="_blank" rel="noopener"
            aria-label="LinkedIn" class="social-icon linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mainbar">
    <div class="container mainbar-inner">
      <a routerLink="/" class="logo">
        <img src="assets/logo/logo.svg" alt="Shyam Ji Logo" class="logo-img" />
      </a>

      <nav class="nav" [class.open]="open()">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="close()">Home</a>
        <a routerLink="/about" routerLinkActive="active" (click)="close()">About</a>
        <a routerLink="/aarti" routerLinkActive="active" (click)="close()">Aarti</a>
        <a routerLink="/puja" routerLinkActive="active" (click)="close()">Puja</a>
        <a routerLink="/our-gallery" routerLinkActive="active" (click)="close()">Gallery</a>
        <a routerLink="/donation-page" routerLinkActive="active" (click)="close()">Donation</a>
        <a routerLink="/contact" routerLinkActive="active" (click)="close()">Contact</a>
      </nav>

      <div class="actions">
        <a routerLink="/donation" class="btn">Donate</a>
        <button class="hamburger" (click)="toggle()" aria-label="Menu">
          <span></span><span></span><span></span>
        </button>
      </div>
    </div>
  </div>
</header>